body {
    margin: 0px;
    overflow: hidden;
}

.area-path {
    fill: maroon;
    opacity: 0.8;
    /* stroke: steelblue;
    stroke-width: 4;
    stroke-linejoin: round;*/    /* make the line joints smooth */
}

text {
    font-size: 3em;
    font-family: sans-serif;
}

.tick text {
    font-size: 1.6em;
    fill: #635F5D;
}

.tick line {
    stroke: #C0C0BB;
}

.axis-label {
    font-size: 2.1em;
    fill: #8E8883;
}

.title {
    font-size: 2em;
    fill: #635F5D;
}